body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #ffffff; 

    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Arial, sans-serif;
    color: white;
}

/* ------------------- NAV ------------------- */
nav {
    padding: 10px 20px; 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    height: auto;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li {
    margin-right: 70px;
}

.nav-links ul li a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a:hover {
   color: rgb(42, 136, 33);
}

.logo img {
    height: 150px;
}

/* ------------------- FOOTER ------------------- */
footer {
    color: rgb(90, 97, 103);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: cornsilk;
    border: 10px white fixed;
}

/* ------------------- GRID CONTAINER ------------------- */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img, .video-container iframe {
    width: 100%;
    height: 100%;
    max-width: 560px; /* Adjust the width as needed */
    max-height: 315px; /* Adjust the height as needed */
    border: 2px solid white;
    border-radius: 5px;
}

.video-container {
    display: flex;
    justify-content: center;
}

