body {
    background-image: url(''); /* Substitua 'nome_da_imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Mantém a consistência da fonte */
}

/* Estilos para a barra de navegação */
nav {
    background-color: rgba(158, 207, 158, 0.9); /* Adiciona uma transparência à cor de fundo */
    padding: 10px 20px; 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para os links de navegação */
.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a:hover {
   color : rgb(42, 136, 33);
}

.logo img {
    height: 80px;
}

/* Estilos para o conteúdo */
.content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 160px); /* Calcula a altura do conteúdo descontando a altura da barra de navegação e do rodapé */
}

.text-column {
    flex: 1;
    padding: 20px;
}

.image-column {
    flex: 1;
    align-items: center;
}

.section-title {
    background-color: rgba(158, 207, 158, 0.9); /* Adiciona uma transparência à cor de fundo */
    color: white;
    padding: 10px;
    margin-top: 0;
}

.text-column p {
    margin-top: 10px;
}

/* Estilos para o rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(158, 207, 158, 0.9); /* Adiciona uma transparência à cor de fundo */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: calc(100vh - 160px); /* Calcula a altura do conteúdo descontando a altura da barra de navegação e do rodapé */
}