body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: rgb(158, 207, 158);
    padding: 10px 20px; 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #e2dfdf; 
}


.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
    
}

.nav-links ul li a:hover {
   color : rgb(42, 136, 33);
}

.logo img {
    height: 100px;
}

footer {
    text-align: center;
    padding: 10px; 
    background-color: rgb(158, 207, 158);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer p, footer img {
    display: inline-block;
    vertical-align: middle;
}

footer img {
    width: 200px;
    height: auto; 
}

.quadro-cinza .linha {
    text-align: center; /* Centraliza o h2 */
}

.quadro-cinza .linha-superior,
.quadro-cinza .linha-inferior {
    display: flex;
    justify-content: space-around; /* Para afastar as imagens */
    align-items: center; /* Para centralizar verticalmente */
}

.quadro-cinza img {
    width: 150px; /* Redimensiona as imagens */
    height: auto;
    margin: 0; /* Remova o margin 10px */
}

.quadro-cinza .descricao {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #333333;
    flex-basis: 50%; /* Para centralizar a descrição */
}

h2 {
    text-align: center; /* Para centralizar o h2 */
    font-size: px; /* Tamanho maior */
    margin-bottom: 20px; /* Espaçamento inferior */
    border-right-color: black;
    background-color: aliceblue;
}
.quadro-cinza {
    background-color: #ccc;
    padding: 7%;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 800px;
    text-align: center;
}
