body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #e2dfdf; 
    background-image: url(../SiteSenai-main/img/fundosite.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
/* ------------------- NAV ------------------- */
nav {
    padding: 10px 20px; 
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
nav{
    height: auto;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li {
    margin-right: 70px;
}

.nav-links ul li a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
    
}

.nav-links ul li a:hover {
   color : rgb(42, 136, 33);
}

.logo img {
    height: 150px;
}

/* ------------------- FOOTER ------------------- */
footer {
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: x-large;
}
footer a {
    text-decoration: none;
    color: cornsilk;
    border: 10px white fixed;
}
